/* Couleurs principales */
.bg-pink-light { background-color: #fef1f4; }
.text-pink { color: #d63384; }

/* Section Hero */
.hero h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}
.hero p.lead {
  max-width: 750px;
  line-height: 1.6;
}

/* Bouton CV */
.btn-primary {
  background-color: #d63384;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #c2185b;
}

/* Compétences */
.skills-section {
  background-color: rgba(255,255,255,0.1); /* légèrement différent du rose clair */
  border-top: 1px solid #f8c1d3;
  border-bottom: 1px solid #f8c1d3;
}

.skills-container h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin-bottom: 1rem;
}

.skills i {
  font-size: 3rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.skills i:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2));
  border-radius: 10px;
}

.skill-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-logo:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2));
}

.hero p.lead small {
  display: block;
  margin-top: 0.5rem;
}
